/*
#id_categories_list
{
    display: block;
}
#add_category_button
*/
label[for=id_category_text]
{
    display: block;
}

#id_categories_list
{
    display: block;
}


label[for=id_categories_list]
{
    display: block;
}

label[for=id_edit_category]
{
    display: block;
}
