* {
    padding:0px;
    margin:0px;
}

.divSideMenu
{
    margin-left:5px;
    height:100%;
    width:130px;
    border-radius:10px;
   /* background-color:#001F3D;*/
    background-color:#001121;
}

li
{
    display:inline;
}

.menu
{
    display:block;
    width:130px;
    height:60px;
    text-align:center;
    font-size:20px;
    line-height:60px;
    text-decoration: none;
    color:#B2BCC5;
    border-radius:10px;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
