{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/i18next/10.3.0/i18next.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'layout/sideMenu.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header class="menu_space">
      <img class="logo_icon" src="{% static "images/logo.png" %}">
      <h1 class="header">f i t S t u d i o</h1>
    </header>
    <nav class="menu_space">
      <ul>
        <div>
          <li>
            <a class="menu" href="/polls/index.html">
              <img class="menu_icon" src="{% static "images/home_512.png" %}">
            </a>
          </li>
          <li>
            <a class="menu" href="/polls/schedule.html">
              <img class="menu_icon" src="{% static "images/apps_512.png" %}">
            </a>
          </li>
          <li>
            <a class="menu" href="">
              <img class="menu_icon" src="{% static "images/search_512.png" %}">
            </a>
          </li>
        </div>
      </ul>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% block javascript %}{% endblock %}
  </body>
</html>
