{% extends 'polls/base.html' %}

{% block stylesheet %}
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'layout/category.css' %}">
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    {% endif %}
    {{ add_form }}
    <input name="form_button" type="submit" value="Add"/>
</form>
    <br>
<form method="post">
    {% csrf_token %}
    {{ list_form }}
    <input name="form_button" type="submit" value="Edit" />
    <input name="form_button" type="submit" value="Delete" />
    <br>
    <br>
</form>
{% if edit_form %}
<form method="post">
    {% csrf_token %}
    {{ edit_form }}
    <input name="form_button" type="submit" value="Submit" />
</form>
{% endif %}

{% endblock %}

{% block javascript %}
{% endblock %}
