{% extends 'polls/base.html' %}

    {% block stylesheet %}
    {% load static from staticfiles %}
    <!--
    <link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.css"/>
    <link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.print.css"/>
    --!>
    <link rel='stylesheet' href="{% static 'lib/fullcalendar.css' %}"/>
    <script src="{% static 'lib/moment.min.js' %}"></script>
    <script src="{% static 'lib/fullcalendar.js' %}"></script>
    <script src="{% static 'js/schedule.js' %}"></script>
    <script src="{% static 'lib/locale-all.js' %}"></script>
    {% load javascript_settings_tags %}
    <script type="text/javascript">{% javascript_settings %}</script>
    {% endblock %}

    {% block content %}
      <div id="calendar"></div>
    {% endblock %}

    {% block javascript %}
    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.js"></script>
    --!>
    {% endblock %}
