{% extends 'polls/base.html' %}

{% block stylesheet %}
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'layout/time.css' %}">
{% endblock %}

{% block content %}
<form name="add_form" method="post">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    {% endif %}
    {{ add_form.day_text.label }} {{ add_form.day_text }}
    <br>
    {{ add_form.index_int.label }} {{ add_form.index_int }}
    <br>
    <input name="form_button" type="submit" value="Add"/>
</form>
    <br>
<form name="list_form" method="post">
    {% csrf_token %}
    {{ list_form }}
    <input name="form_button" type="submit" value="Edit" />
    <input name="form_button" type="submit" value="Delete" />
    <br>
    <br>
</form>
{% if edit_form %}
<form name="edit_form" method="post">
    {% csrf_token %}
    {{ edit_form }}
    <input name="form_button" type="submit" value="Submit" />
</form>
{% endif %}

{% endblock %}

{% block javascript %}
{% endblock %}
